
[0;34mℹ️ [2025-04-22 11:23:27] Scelto blocco incoming (1 linee vs 1)[0m
# Sistema operativo
.fuse_hidden*
.fuse_hidden**.lock
**/*.Zone.Identifier
*:Zone.Identifier

# File temporanei e cache
*.cache
.php-cs-fixer.cache
.git-rewrite
.git-blame-ignore-revs
cache/
docs/cache/

# Dipendenze e pacchetti
## Node.js
node_modules/
package-lock.json

## Composer
vendor/
*.lock
*.phar

# Build e output
build/

# Eseguibili
*.exe
.git-rewrite
.fuse_hidden*
.fuse_hidden**.lock
*.lock
package-lock.json
.php-cs-fixer.cache
*.phar
*.cache
node_modules
/node_modules
vendor/
.git-blame-ignore-revs
.git-blame-ignore-revs
node_modules
vendor
.php-cs-fixer.cache
.git-blame-ignore-revs
build/
vendor/
build/
node_modules
docs/cache/
cache/
.git-blame-ignore-revs
.php-cs-fixer.cache
*.exe
**/*.Zone.Identifier
*:Zone.Identifier
*:Zone.Identifier
.php-cs-fixer.cache
*:Zone.Identifier
.php-cs-fixer.cache
**/*.Zone.Identifier

[0;34mℹ️ [2025-04-22 11:23:27] Scelto blocco HEAD (34 linee vs 1)[0m
.git-rewrite
.fuse_hidden*
.fuse_hidden**.lock
*.lock
package-lock.json
.php-cs-fixer.cache
*.phar
*.cache
node_modules
/node_modules
vendor/
.git-blame-ignore-revs
.git-blame-ignore-revs
node_modules
vendor
.php-cs-fixer.cache
.git-blame-ignore-revs
build/
vendor/
build/
node_modules
docs/cache/
cache/
.git-blame-ignore-revs
.php-cs-fixer.cache
*.exe
**/*.Zone.Identifier
*:Zone.Identifier
*:Zone.Identifier
.php-cs-fixer.cache
*:Zone.Identifier
.php-cs-fixer.cache
**/*.Zone.Identifier
.git-rewrite
.fuse_hidden*
.fuse_hidden**.lock
*.lock
package-lock.json
.php-cs-fixer.cache
*.phar
*.cache
node_modules
/node_modules
vendor/
.git-blame-ignore-revs
.git-blame-ignore-revs
node_modules
vendor
.php-cs-fixer.cache
.git-blame-ignore-revs
build/
vendor/
build/
node_modules
docs/cache/
cache/
.git-blame-ignore-revs
.php-cs-fixer.cache
*.exe
**/*.Zone.Identifier
*:Zone.Identifier
*:Zone.Identifier
.php-cs-fixer.cache
*:Zone.Identifier
.php-cs-fixer.cache
**/*.Zone.Identifier


[0;34mℹ️ [2025-04-22 11:23:27] Scelto blocco HEAD (35 linee vs 1)[0m
